<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootthread.dao.RegionData2021Mapper">

    <insert id="insertBatch">
        insert into region_data_2021 (region_code, region_short_name, region_full_name, region_level, parent_region_code, region_code_history, region_source, region_alias
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.regionCode}, #{item.regionShortName}, #{item.regionFullName}, #{item.regionLevel}, #{item.parentRegionCode}, #{item.regionCodeHistory}, #{item.regionSource}, #{item.regionAlias}
            )
        </foreach>
    </insert>

</mapper>